.prodParentDiv{
    box-sizing: border-box;
width: 1427px;
height: 901px;
overflow: visible;
background-image: url('https://shidas-broom-closet.s3.us-east-2.amazonaws.com/sbc_bg+flipped.PNG');
background-size: 100% 100%;
background-repeat: no-repeat;
background-position: center;
border-radius: 10px;
border: 3px solid red;
/* border: 1px solid #222; */
margin-left: 50px;
}

h1{
    text-align: center;
}

.prodSerImgParent{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}

.prodImgChildDiv{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}

.prodImg{
    background-color: azure;
    margin-left: auto;
  margin-right: auto;
text-align: center;
}

.prodTSextContainer{

}

.prodName{
    height: fit-content;
    width: fit-content;
    background-color: wheat;
    margin-left: auto;
  margin-right: auto
}
.prodDescription{
    height: fit-content;
    width: fit-content;
    background-color: whitesmoke;
    margin-left: auto;
  margin-right: auto
}