header{
    box-sizing: border-box;
width: 1519px;
height: 176px;
background-color: #000000;
overflow: visible;
border: 3px solid #ff8c00;
display: flex;
padding: 20px;
justify-content: space-around;
}

.headerH4{
    width: 332px;
    height: 52px;
    overflow: hidden;
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-word;
    font-weight: 400;
    font-style: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    letter-spacing: 0px;
    line-height: 1.2;
    color: #d7730f;
    margin-top: 30px;
}

.headerLogo{
    width: 166px;
height: 122px;
overflow: visible;
background-image:'https://shidas-broom-closet.s3.us-east-2.amazonaws.com/andinkra+symbol+strength.PNG';
background-size: contain;
background-repeat: no-repeat;
background-position: center;
}

.links{
margin-left: 20px;
margin-top: 40px;
}

.links{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.links:hover {
    background-color: transparent;
    color: white;
    text-decoration:underline white;
}
.links:link {
    text-decoration: none;
}

.links.button {
    text-decoration: underline;
    }

.links.active {
    background-color: #ffffff1e;
    color: white;
    text-decoration: none;
}

